back-end/HELP.md
back-end/.gradle
back-end/build/
back-end/!gradle/wrapper/gradle-wrapper.jar
back-end/!**/src/main/**/build/
back-end/!**/src/test/**/build/
back-end/src/main/**/application.yml

front-end/node_modules

### IntelliJ IDEA ###
back-end/.idea
back-end/*.iws
back-end/*.iml
back-end/*.ipr
back-end/out/
back-end/!**/src/main/**/out/
back-end/!**/src/test/**/out/

### VS Code ###
.vscode/
