<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 설정 옵션들을 여기에 추가 -->
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="jdbcTypeForNull" value="NULL" />
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="PostVo" type="com.me.board.VO.PostVo"/>
        <typeAlias alias="CommentVo" type="com.me.board.VO.CommentVo"/>
        <typeAlias alias="ReplyVo" type="com.me.board.VO.ReplyVo"/>
        <typeAlias alias="UserVo" type="com.me.board.VO.UserVo"/>
    </typeAliases>
</configuration>